<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <meta name="menu" content="user_login" />
        <title th:text="#{titles.auth.password_recover.title}">Change password</title>
    </head>
    <body>
        <h1 class="page-header" 
            th:text="#{titles.auth.change_password}"
            th:fragment="section_title">Change password</h1>

        <div class="col-md-4 col-md-offset-4" th:fragment="content">
			<form id="changePasswordForm" th:action="@{/user/changePassword}" 
			      method="post" class="form-signin" role="form">       
		
			    <input type="hidden" name="activationHash" id="activationHash" th:value="${activationHash}" />
			    
			    <input type="password" id="password" name="password" autocomplete="off"
			            class="form-control" autofocus="autofocus" 
			            th:placeholder="#{messages.auth.signup.placeholder.password}" 
			            th:required="required" />
			    
			    <input type="password" id="passwordRepeat" name="passwordRepeat" autocomplete="off" 
			           class="form-control" th:required="required" 
			           th:placeholder="#{messages.auth.signup.placeholder.passwordRepeat}" />
			    
			    <button class="btn btn-lg btn-primary btn-block" type="submit"
			            th:text="#{labels.auth.action.change_password}">
			        Change password
			    </button>
			</form>
		</div>
		<script layout:fragment="script">
		  $(function(){
		      $("#changePasswordForm").validate({
		              rules: {            
		                  passwordRepeat: {
		                    equalTo: "#password",
		                  }
		              }});
		  });
		</script>
    </body>
</html>
