<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
		<meta name="menu" content="user_login" />
        <title th:text="#{titles.auth.password_recover.title}">Password recover</title>
    </head>
    <body>
        <h1 class="page-header" 
		    th:text="#{titles.auth.password_recover.title}"
		    th:fragment="section_title">Password recover</h1>
        <div class="col-md-4 col-md-offset-4" th:fragment="content">
            <form id="recoverForm" th:action="@{/user/passwordRecover}" method="post" class="form-signin" role="form">       
                <div class="form-group">
                    <label for="email" th:text="#{messages.auth.signup.email}">Email</label> 
                    <input type="email" name="email" id="email" class="form-control"
			               th:required="required" th:autofocus="autofocus"
			               th:title="#{validation.email.invalid}" 
			               th:placeholder="#{messages.auth.signup.placeholder.email}" />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit"
		                th:text="#{labels.auth.action.recover_password}">
                    Recover password
                </button>
            </form>
        </div>
        
        <script layout:fragment="script">
            $(document).ready(function() {
                  setValidatorDefaults();
                  $("#recoverForm").validate();
            });
        </script>
    </body>
</html>
