<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <meta name="menu" content="user_signup" />
        <title th:text="#{messages.auth.signup.title}">Signup</title>
    </head>
    <body>
        <h1 class="page-header" 
            th:text="#{messages.auth.signup.title}"
            th:fragment="section_title">Signup</h1>
  
        <div class="col-md-6 col-md-offset-3" th:fragment="content">
            <form action="#" id="signupForm" method="post" role="form" th:action="@{/user/signup}" th:object="${user}">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="name" th:text="#{messages.auth.signup.name}">Name</label> 
                    <input type="text" class="form-control" autofocus="autofocus" required="required" 
                           th:placeholder="#{messages.auth.signup.placeholder.name}"
                           th:field="*{name}" />
                </div>

                <div class="form-group">
                    <label for="lastname" th:text="#{messages.auth.signup.lastname}">Lastname</label> 
                    <input type="text" class="form-control" required="required"
                            th:placeholder="#{messages.auth.signup.placeholder.lastname}"
                            th:field="*{lastname}" />
                </div>

                <div class="form-group">
                    <label for="email" th:text="#{messages.auth.signup.email}">E-mail</label> 
                    <input type="email" class="form-control" required="required"
                           th:title="#{validation.email.invalid}" 
                           th:placeholder="#{messages.auth.signup.placeholder.email}"
                           th:field="*{email}" />
                </div>

                <div class="form-group">
                    <label for="username" th:text="#{messages.auth.signup.username}">Username</label> 
                    <input type="text" class="form-control" required="required" 
                           th:placeholder="#{messages.auth.signup.placeholder.username}"
                           th:field="*{username}" />
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{messages.auth.signup.password}">Password</label> 
                    <input type="password" class="form-control" required="required" 
                           th:placeholder="#{messages.auth.signup.placeholder.password}"
                           th:field="*{password}" />
                </div>

                <div class="form-group">
                    <label for="passwordRepeat" th:text="#{messages.auth.signup.passwordRepeat}">Repeat password</label> 
                    <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat" required="required"
                           th:placeholder="#{messages.auth.signup.placeholder.passwordRepeat}" />
                </div>
    
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" th:text="#{messages.auth.signup.submit}">
                        Change password
                    </button>
                </div>
            </form>
        </div>
  
        <script layout:fragment="script">
           $(document).ready(function() {
                $("#name").focus();
                setValidatorDefaults();
                $("#signupForm").validate({
                     rules: {            
                        passwordRepeat: {
                            equalTo: "#password",
                        }
                }});
           });
        </script>
    </body>
</html>