<div class="text-center">
    <ul th:class="'pagination ' + ${customPaginationClass}" th:if="${result.totalPages &gt; 1}">
        <li th:if="${result.page.pageNumber &gt; 1}">
            <a th:href="${paginator_url + '1'}">&laquo;</a>
        </li>
        <li th:if="${result.page.pageNumber &gt; 1}">
            <a th:href="${#strings.concat(paginator_url,result.page.pageNumber-1)}" rel="prev">&laquo;</a>
        </li>
        
        <th:block th:each="page : ${#numbers.sequence(result.beginPage,result.endPage)}">
            <li class="active" th:if="${page == result.page.pageNumber}"><a href="#" th:text="${page}"></a></li>
            <li th:if="${page != result.page.pageNumber}">
                <a th:href="${#strings.concat(paginator_url,page)}" 
                   th:text="${page}"></a>
            </li>
        </th:block>

        <li th:if="${result.page.pageNumber &lt; result.totalPages}">
            <a th:href="${#strings.concat(paginator_url,result.page.pageNumber+1)}" rel="next">&raquo;</a>
        </li>
        <li th:if="${result.page.pageNumber &lt; result.totalPages}">
            <a th:href="${#strings.concat(paginator_url,result.totalPages)}">&raquo;</a>
        </li>
    </ul>
</div>