<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/adminLTE/AdminLTE.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/codemirror/codemirror.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/font-awesome/font-awesome.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/fonts/adminLTE-fonts.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/fonts/kaushan_font.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/ionicons/ionicons.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/ladda/ladda.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/morris/morris.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/z_app/simor.css}" />

<script th:src="@{/static/js/jquery/jquery-1.11.1.js}"></script>
<script th:src="@{/static/js/bootbox/bootbox.js}"></script>
<script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
<script th:src="@{/static/js/codeMirror/base/codemirror.js}"></script>
<script th:src="@{/static/js/codeMirror/plugins/css.js}"></script>
<script th:src="@{/static/js/codeMirror/plugins/htmlmixed.js}"></script>
<script th:src="@{/static/js/codeMirror/plugins/javascript.js}"></script>
<script th:src="@{/static/js/codeMirror/plugins/runmode.js}"></script>
<script th:src="@{/static/js/codeMirror/plugins/xml.js}"></script>
<script th:src="@{/static/js/spinner/spin.js}"></script>
<script th:src="@{/static/js/ladda/base/ladda.js}"></script>
<script th:src="@{/static/js/ladda/plugins/ladda.jquery.js}"></script>
<script th:src="@{/static/js/lodash/lodash.js}"></script>
<script th:src="@{/static/js/morris/morris.js}"></script>
<script th:src="@{/static/js/raphael/raphael.js}"></script>
<script th:src="@{/static/js/validate/jquery.validate.js}"></script>
<script th:src="@{/static/js/z_app/common.js}"></script>
<script th:src="@{/static/js/z_app/z_app_bootstrap.js}"></script>

