<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <meta name="menu" content="validate_html" />
        <title  th:text="#{${'titles.site.validation.result_type.' + validationResultType}}">HTML validation result rules</title>
    </head>
    <body>
        <h1 class="page-header" 
            th:text="#{${'titles.site.validation.result_type.' + validationResultType}}"
            th:fragment="section_title">X rules</h1>

        <div th:class="${'box box-solid ' + validationTypeClass}" th:fragment="list"
             th:with="isSubjective = (${ruleTrustType == T(ar.com.dera.simor.rule.RuleTrust).SUBJECTIVE}),
                      isPassed = (${validationResultType == T(ar.com.dera.simor.common.entities.ValidationResult).PASSED})">
            <div class="box-header">
                <h3 class="box-title" 
                    th:text="#{${'titles.site.validation.result_type.' + validationResultType}}">
                    Validation type
                </h3>
                <div class="box-tools pull-right col-md-4">
                    <form class="box-search-form" role="search" method="get" id="ruleFilterForm"
                          th:action="@{/validation/{rulesMappingPrefix}/{validationId}(validationId=${validationId},rulesMappingPrefix=${rulesMappingPrefix})}">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon input-sm"><i class="ion-android-search"></i></div>
                              <input type="text" id="ruleSearchInput" name="search"
                                     class="form-control input-sm" 
                                     th:value="${search}"
                                     data-toggle="tooltip"
                                     th:title="#{forms.validation.rules.search.placeholder}"
                                     th:placeholder="#{forms.validation.rules.search.placeholder}" />
                            </div>
                        </div>
                    </form>   
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped table-responsive ajax-paginated-table"
                       th:if="${not #lists.isEmpty(result.result)}">
                    <thead>
                        <tr>
                            <th th:text="#{validation.detail.tag}">Tag</th>
                            <th th:text="#{validation.detail.line_number}">Line number</th>
                            <th th:text="#{validation.detail.rule}">Rule</th>
                            <th th:text="#{validation.detail.actions}">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="validation : ${result.result}" 
                            th:id="${'validation-element-row-'+validation.id}">
                            <td>
                                <a href="#"
                                   th:text="${validation.tagName}"
                                   data-action-type="htmlTagReference"
                                   th:attr="data-htmlTag=${validation.tagName}">Tag name</a>
                            </td>
                            <td>
                                <a href="#"
                                   th:text="${validation.lineNumber}"
                                   data-action-type="lineNumberReference"
                                   th:attr="data-lineNumber=${validation.lineNumber}">Line number</a>
                            </td>
                            <td>
                                <a href="#" data-action-type="ruleInformation"
                                   th:attr="data-validation=${validation.id}">
                                    <th:block th:text="#{titles.site.validation.rule_section(${validation.rule.requirementNumber()})}">
                                        Section
                                    </th:block>
                                    &nbsp;-&nbsp;
                                    <th:block 
                                        th:text="#{titles.site.validation.rule_code(${validation.rule.codeFriendly()})}">Regla
                                    </th:block>
                                </a>
                            </td>
                            <td th:fragment="actions">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-flat" 
                                            data-action-type="validationInformation"
                                            th:title="#{titles.validation.rule.suggestion}"
                                            th:attr="data-validation=${validation.id}">
                                      <i class="fa fa-wrench"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th th:text="#{validation.detail.tag}">Tag</th>
                            <th th:text="#{validation.detail.line_number}">Line number</th>
                            <th th:text="#{validation.detail.rule}">Rule</th>
                            <th th:text="#{validation.detail.actions}">Actions</th>
                        </tr>
                    </tfoot>
                </table>
                <div class="alert alert-info alert-dismissable" 
                     th:if="${#lists.isEmpty(result.result)}"
                     th:text="#{validation.detail.no_result}">
                    No results
                </div>
            </div>
            <div th:replace="common/paginator"></div>
            <div th:include="validation/detail/popup/html_tag_reference_modal"></div>
            <div th:include="validation/detail/popup/element_validation_modal"></div>
            <div id="loader-animation" style="display:none">
              <div th:replace="common/loader_animation"></div>
            </div>  
        </div>
    </body>
</html>