<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <meta name="menu" content="my_sites" />
        <title th:text="#{titles.site.detail(${site.alias})}">Site validation resume</title>
    </head>
    <body>
        <h1 class="page-header" 
            th:text="#{titles.site.detail(${site.alias})}"
            th:fragment="section_title">Site validation resume</h1>

        <div th:fragment="content">
            <form id="siteActionsForm" th:action="@{/site/newVersion}" method="post">
                <input type="hidden" name="siteId" th:value="${site.id}" />
            </form>
            <div th:replace="validation/detail/partial/_version_detail_header"></div>
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title" th:text="#{titles.site.detail.timelineCompliance}">Timeline compliance</h3>
                </div>
                <div class="box-body chart-responsive">
                    <div id="exmapleChart" style="height: 250px;"></div>
                </div>
            </div>
            
            <div th:replace="validation/detail/partial/_links_loader_div"></div>
            
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title" th:text="#{titles.site.detail.links}"> Site links</h3>
                </div>
                <div id="versionLinks" class="box-body table-responsive">
                </div>
            </div>

            <div class="form-actions">
                <a class="link" th:href="@{/site}" th:text="#{forms.site.detail.back}">
                    Back
                </a>
                <button type="submit" class="form-action-button btn btn-primary"
                        th:text="#{titles.site.validation.link.download}">
                        Download
                </button>
            </div>
        </div>
    </body>
    <script layout:fragment="script">
        $(function(){
            
            $('#versionLinks').load([[@{/validation/version/links/{versionId}(versionId=${version.id})}]]);
            
            $("#versionSelect").change(function(){
                var BASE_PATH = [[@{/validation/site/}]];
                window.location.href=BASE_PATH + $(this).attr("data-site")+"/"+$(this).val();
            });
            
            $("#addVersion").click(function(){
                $("#siteActionsForm").submit();
            });
          
            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'exmapleChart',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [
                    { year: '2008', value: 5 },
                    { year: '2009', value: 10 },
                    { year: '2010', value: 15 },
                    { year: '2011', value: 20 },
                    { year: '2012', value: 40 }
                ],
                // The name of the data record attribute that contains x-values.
                xkey: 'year',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['value'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Value']
            });
        });
    </script>
</html>