<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <title th:text="Home">Home</title>
    </head>
    <body>
		<div class="starter-template" th:fragment="content">
			<h1>Bootstrap starter template</h1>
			<p class="lead">
			  Use this document as a way to quickly start any new project.<br />
			  All you get is this text and a mostly barebones HTML document.
			</p>
		</div>
    </body>
</html>

