<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <meta name="menu" content="user_home" />
        <title th:text="#{titles.user.profile}">User profile</title>
    </head>
    <body>
        <h1 class="page-header" 
            th:text="#{titles.user.profile}"
            th:fragment="section_title">User profile</h1>
        <div th:fragment="content">
            <dl class="dl-horizontal">
                <dt th:text="#{messages.auth.signup.name}">Name</dt>
                <dd th:text="${user.name}">User's name</dd>
                <dt th:text="#{messages.auth.signup.lastname}">Last name</dt>
                <dd th:text="${user.lastname}">User's last name</dd>
                <dt th:text="#{messages.auth.signup.email}">Email</dt>
                <dd th:text="${user.email}">User's email</dd>
                <dt th:text="#{messages.auth.signup.locale}">Locale</dt>
                <dd th:text="#{'titles.general.locale.'+ ${user.locale.language}}">User's locale</dd>
            </dl>
            <div class="form-actions">
                <a th:href="@{/user/profile/edit}" type="submit" class="btn btn-primary" th:text="#{forms.general.edit}">
                    Edit
                </a>
            </div>
        </div>
    </body>
</html>

