<html>
    <head>
       <link href="${baseUrl}/css/application.min.css" rel="stylesheet">
    </head>
    <body>
    
        DEFAULT TEMPLATE 
        <h3>${mail.body}</h3>
        
        <div>
           <h1><a href="mailto:${mail.toName}">${mail.toName}</a>.
        </div>
    </body>
</html>