<h3 th:text="#{titles.validation.rule.title(${validation.rule.codeFriendly()})}" class="rule-main-title"></h3>
<th:block th:with="isSubjective = (${validation.rule.trust() == T(ar.com.dera.simor.rule.RuleTrust).SUBJECTIVE}),
                   isPassed = (${validation.result == T(ar.com.dera.simor.common.entities.ValidationResult).PASSED})">
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_rule_information" data-toggle="tab"
               th:text="#{validation.ruleReference.detail.modalTitle}">Rule Information</a>
        </li>
        <li class="" th:if="not (${validation.result == T(ar.com.dera.simor.common.entities.ValidationResult).PASSED})">
            <a href="#tab_suggestion" data-toggle="tab"
               th:text="#{validation.detail.suggestion}">Suggestion</a>
        </li>
        <li class="" th:if="${isPassed}">
            <a href="#tab_source" data-toggle="tab"
               th:text="#{titles.validation.rule.element.source}">Original source</a>
        </li>
        <li class="pull-right" th:if="${(not isPassed) and (isSubjective)}">
            <a href="#" data-action-type="falsePositive" class="text-muted"
               th:attr="data-elementValidationID=${validation.id}"
               th:title="#{validation.detail.actions.false_positive.title}"><i class="fa fa-bug"></i></a>
        </li>
        <li class="pull-right passed" 
            th:if="${(isPassed) and (isSubjective)}">
            <i class="fa fa-bug"></i>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_rule_information">
            <div th:include="validation/detail/popup/partial/_rule_detail_information"
                 th:with="rule = ${validation.rule}"></div>
        </div><!-- /.tab-pane -->
        <div class="tab-pane" id="tab_suggestion"
             th:if="not (${validation.result == T(ar.com.dera.simor.common.entities.ValidationResult).PASSED})"
             th:with="isSubjective = ${isSubjective}">
            <div th:replace="validation/detail/popup/partial/_element_validation_suggestion"
                 th:with="validation = ${validation}"></div>
        </div><!-- /.tab-pane -->
        <div class="tab-pane" id="tab_source">
            <div th:include="validation/detail/popup/partial/_validation_source_information"
                 th:with="validation = ${validation}"></div>
        </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
</div>

<span th:fragment="additional-information">
    <h4 th:text="#{titles.validation.rule.more_information}">Need more information?</h4>
    <p>
        <a href="#" th:title="${validation.rule.requirementNumber()}" data-toggle="tooltip" target="_blank"
           th:href="#{'w3c.requirement.' + ${validation.rule.requirementNumber()}}"
           th:text="#{titles.validation.rule.w3c_section(${validation.rule.requirementNumber()})}">
           W3C's section information
        </a> 
    </p>
</span>
</th:block>