<h4 th:text="#{titles.validation.rule.description}">Rule description</h4>
<p th:text="#{${rule.code() +'.description'}}">The description of the rule</p>
<p th:text="#{'comment.' + ${rule.code()}}">The description of the rule</p>

<h4 th:text="#{titles.validation.rule.context}">Context</h4>
<p>
    <a href="#" class="dummy-link"
       th:title="#{titles.validation.rule.context.desc}" 
       data-toggle="tooltip"
       th:text="${rule.context()}"></a>
</p>

<h4 th:text="#{titles.validation.rule.example.right}">Right code example</h4>
<span class="label label-success" th:text="#{general.label.success}">Success</span>
<pre class="code" th:text="#{'code.' + ${rule.code()} + '.valid'}"></pre>

<h4 th:text="#{titles.validation.rule.example.wrong}">Wrong code example</h4>
<span class="label label-danger" th:text="#{general.label.wrong}">Wrong</span>
<pre class="code" th:text="#{'code.' + ${rule.code()} + '.invalid'}"></pre>

<hr />
