<div class="row" th:with="colLgSize = ${#numbers.formatInteger(12 / rulesTypeCount,1)}" th:fragment="validation-rules-count">
    <div th:class="${'col-lg-'+colLgSize+' col-xs-6'}">
        <div class="small-box bg-green">
            <div class="inner">
                <h3> 
                    <span th:text="${validation.validRulesRatio}">20%</span> <sup style="font-size: 20px">%</sup>
                </h3>
                <p th:text="#{titles.site.rulesPassed}">Rules passed</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-checkmark"></i>
            </div>
            <a href="#"
               th:href="@{/validation/{type}/valid/{validationId}(validationId=${validation.id},type=${type})}"
               class="rule-detail-link small-box-footer">
                <span th:text="#{titles.general.moreInfo}"></span>
                &nbsp;<i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div th:class="${'col-lg-'+colLgSize+' col-xs-6'}" th:if="${validation.subjectiveRulesCount > 0}">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    <span th:text="${validation.subjectiveRulesRatio}">20%</span> <sup style="font-size: 20px">%</sup>
                </h3>
                <p th:text="#{titles.site.rulesWarning}">Rules with warnings</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-information"></i>
            </div>
            <a href="#" class="rule-detail-link small-box-footer"
               th:href="@{/validation/{type}/subjective/{validationId}(validationId=${validation.id},type=${type})}">
                <span th:text="#{titles.general.moreInfo}"></span>
                &nbsp;<i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div th:class="${'col-lg-'+colLgSize+' col-xs-6'}" th:if="${validation.invalidRulesCount > 0}">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    <span th:text="${validation.invalidRulesRatio}">20%</span> <sup style="font-size: 20px">%</sup>
                </h3>
                <p th:text="#{titles.site.rulesNotPassed}">Invalid rules</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-hand"></i>
            </div>
            <a href="#" class="rule-detail-link small-box-footer"
               th:href="@{/validation/{type}/invalid/{validationId}(validationId=${validation.id},type=${type})}">
               <span th:text="#{titles.general.moreInfo}"></span>
               &nbsp;<i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>