<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}">
    <head>
        <meta name="menu" content="my_sites" />
        <title th:text="#{titles.site.detail(${site.alias})}">Site validation resume</title>
    </head>
    <body>
        <div th:fragment="content">
	        <table id="linksResult" class="table table-bordered table-striped data-table-on">
	            <thead>
	            	<tr>
	            		<th style="width: 30px">#</th>
	            		<th th:text="#{forms.site.url}">URL</th>
	            		<th style="width: 200px" th:text="#{titles.site.validation.rules}">Rule</th>
	            	</tr>
	            </thead>
	        	<tbody>
	                <tr th:each="link,status : ${result.result}">
	                    <td th:text="${status.count}">#1</td>
	                    <td>
	                        <a th:href="@{/validation/link/{linkId}(linkId=${link.id})}" 
	                           th:text="${link.relativeURI()}">
	                            /url
	                        </a>
	                        &nbsp;
	                        <a th:href="${link.uri}" target="_blank">
	                            <i class="ion ion-eye"></i>
	                        </a>
	                    </td>
	                    <td>
	                        <span class="badge bg-green" th:text="${link.validRulesCount}">
	                            23
	                        </span>
	                        <span class="badge bg-yellow" th:text="${link.subjectiveRulesCount}">
	                            45
	                        </span>
	                        <span class="badge bg-red" th:text="${link.invalidRulesCount}">
	                            10
	                        </span>
	                    </td>
	                </tr>
	        	</tbody>
	        </table>
	        <div th:include="common/paginator" th:with="customPaginationClass=pagination-sm"></div>
	        <script>
	            $(function(){
		            $('.pagination a').click(function(e){
		            	$('#versionLinks').html($('#linksLoaderDiv').html());
		            	loadContent('#versionLinks',$(this).attr('href'));
		            	e.preventDefault();
		            })
	            });
	        </script>
        </div>
    </body>
</html>