<div id="linksLoaderDiv" class="hide">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" th:text="#{titles.validation.loading_links}">
                Loading links
            </h3>
            <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body margin-top-100" th:text="#{titles.validation.loading_links.body}">
            We're loading the links of your site validation...
        </div>
        <div class="overlay"></div>
        <div class="loading-img"></div>
    </div>
</div>