<div th:fragment="flash_messages" th:if="${message_code}" class="flash-message">
    <div class="alert" th:class="'alert'" th:classappend="${message_class}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span th:if="${not #strings.isEmpty(message_parameter)}"
            th:text="${#messages.msgWithParams(message_code, new Object[] {message_parameter})}" >
        </span>
        <span th:if="${#strings.isEmpty(message_parameter)}" 
              th:text="#{${message_code}}">
        </span>                
    </div>
</div>
