<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body th:fragment="nav">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" th:href="@{/}" th:text="#{application.name}">SiMor</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li data-menu-option="my_sites" sec:authorize="isAuthenticated()">
                            <a th:href="@{/site}" th:text="#{titles.my_sites}">My sites</a>
                        </li>
                        <li data-menu-option="validate_html" sec:authorize="isAuthenticated()">
                            <a th:href="@{/validation/html}" th:text="#{titles.validate_html}">Validate HTML</a>
                        </li>
                        <li>
                            <a href="#about" th:text="#{titles.about}">About</a>
                        </li>
                        <li>
                            <a href="#contact" th:text="#{titles.contact}">Contact</a>
                        </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li data-menu-option="user_login" sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}" th:text="#{titles.login}">Login</a>
                        </li>
                        <li data-menu-option="user_signup" sec:authorize="!isAuthenticated()">
                            <a th:href="@{/signup}" th:text="#{titles.signup}">Signup</a>
                        </li>
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a th:href="@{/user}" class="dropdown-toggle" 
	                            data-toggle="dropdown" role="button" aria-expanded="false">
                                <th:block th:text="${#authentication.name}"></th:block> &nbsp;<b class="caret"></b>    
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/user/profile}" th:text="#{titles.profile}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/logout}" th:text="#{titles.logout}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </body>
</html>